page-reportar {
    .e1{
        border: none;
        background-color: none;
    }
    button{
      width: 100%;
      height: 8%;
      color: white;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      background-color: orange;
}
}
