
<ion-content>
  <ion-item no-border>
    <ion-slides #Slides  no-border>
		    <!-- <ion-slide>
          <img src="assets/imgs/t1.jpeg"> -->
        <!-- </ion-slide> -->
		    <!-- <ion-slide>
			    <img src="assets/imgs/t6.jpeg">
		    </ion-slide> -->
		    <ion-slide>
			    <img src="assets/imgs/t7.jpg">
		    </ion-slide>
		    <ion-slide>
			    <img src="assets/imgs/t4.jpeg">
		    </ion-slide>
        <ion-slide>
			    <img src="assets/imgs/t3.jpeg">
		    </ion-slide>
		    <ion-slide>
			    <img src="assets/imgs/t1.jpeg">
		    </ion-slide>
	 </ion-slides>
  </ion-item>

<ion-grid>
  <ion-row>
    <ion-col id=uno (click)="openList()">
      <div align center>Mis Reportes
        <ion-icon ios="ios-clipboard-outline" md="md-clipboard"></ion-icon>
      </div>
    </ion-col>
    <ion-col id=dos (click)="CreateReport()" *ngIf="userType == 1">
      <div> Hacer reporte
      <ion-icon ios="ios-home-outline" md="md-home"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col id=tres (click)="openList()">
      <div align center>Mi perfil
        <ion-icon name="contact" md="md-clipboard"></ion-icon>
      </div>
    </ion-col>
    <ion-col id=cuatro (click)="ContactUs()" *ngIf="userType == 1">
      <div> Contactanos
      <ion-icon name="call" md="md-home"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
<ion-footer>
  <ion-navbar hideBackButton="true">
    <button ion-button icon-only menuToggle>
  	<ion-icon name ="menu"> </ion-icon>
    </button>

    <ion-buttons end>
      <button ion-button icon-only (click)="signOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-footer>

<!-- <ion-icon ios="ios-clipboard" md="md-clipboard"></ion-icon>
ion-icon name="contact"></ion-icon>
<ion-icon ios="ios-home-outline" md="md-home"></ion-icon>
  <ion-icon name="images"></ion-icon>
  <ion-icon ios="ios-images" md="md-images"></ion-icon> -->

<!-- <ion-icon ios="ios-clipboard" md="md-clipboard"></ion-icon>
ion-icon name="contact"></ion-icon>
<ion-icon ios="ios-home-outline" md="md-home"></ion-icon>
  <ion-icon name="images"></ion-icon>
  <ion-icon ios="ios-images" md="md-images"></ion-icon> -->
